.tweet-button a {
	height: 20px;
	display: block;
	text-indent: -10000em;
    background: transparent url(../images/tweet.png) no-repeat;
    width: 55px;
}

.tweet-button a:lang(de) {
	background: transparent url(../images/tweet_de.png) no-repeat;
	width: 67px;
}

.tweet-button a:lang(es) {
	background: transparent url(../images/tweet_es.png) no-repeat;
	width: 64px;
}

.tweet-button a:lang(fr) {
	background: transparent url(../images/tweet_fr.png) no-repeat;
	width: 66px;
}

.tweet-button a:lang(ja) {
	background: transparent url(../images/tweet_de.png) no-repeat;
	width: 80px;
}

.tweet-button a:lang(ko) {
	background: transparent url(../images/tweet_ko.png) no-repeat;
}

.tweet-button a:hover {
	background-position: 0px -21px;
}

.tweet-button a:active {
	background-position: 0px -42px;
}